@charset "UTF-8";
* {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  max-width: 1920px;
}

img {
  vertical-align: top;
}

h1 {
  margin-top: 1rem;
  letter-spacing: 0.15rem;
  font-size: 2em;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  margin-bottom: 1.5rem;
  padding-top: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ ヘッダー ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
header {
  position: fixed;
  width: 95%;
  top: 0px;
  padding: 0 2.5vw 0;
  z-index: 999;
}
@media (max-width: 959px) {
  header {
    background: #fff;
  }
}
header a {
  text-decoration: none;
  line-height: 100px;
  transition: 0.2s;
  position: relative;
}
header a:hover {
  color: #3f4c59;
}

.header_list {
  margin-top: -100.5px;
  margin-right: calc(1.5vw + 50px);
  line-height: 70px;
  text-align: right;
  color: #232323;
}
.header_list li {
  list-style: none;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-weight: 0;
  letter-spacing: 0.13rem;
  display: inline-block;
  position: relative;
  z-index: 4;
  margin-left: 1%;
}
.header_list li a {
  line-height: 10 0px;
  padding: 26px 0.5rem 25px 0.5rem;
  color: #232323;
}
.header_list li a::before {
  content: "●";
  display: block;
  color: rgba(255, 255, 255, 0);
  font-size: 0.7rem;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  transition: 0.2s;
}
.header_list li a:hover::before {
  color: #3f4c59;
}

.header_logo {
  font-size: 1.4rem;
  letter-spacing: 0.13rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  color: #232323;
  position: relative;
  z-index: 4;
}
.header_logo span {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  font-weight: 500;
  color: #8b8b8b;
  letter-spacing: 0.08rem;
}
.header_logo.white {
  color: #ececec !important;
}

@media (min-width: 960px) {
  .globalMenuSp, .hamburger {
    display: none;
  }
  .pc_hamburger {
    display: block;
    position: fixed;
    z-index: 6;
    right: 2.5vw;
    top: 0px;
    width: 50px;
    height: 100px;
    cursor: pointer;
    text-align: center;
  }
  .pc_hamburger span {
    display: block;
    position: absolute;
    width: 45px;
    height: 4px;
    transform: scaleY(0.5) translateY(2px);
    background: #ececec;
    transition: 0.2s ease-in-out;
  }
  .pc_hamburger span:nth-child(1) {
    top: 45px;
    right: 0px;
    width: 45px;
  }
  .pc_hamburger span:nth-child(2) {
    bottom: 41px;
    right: 0px;
    width: 45px;
  }
  .pc_hamburger.active span:nth-child(1) {
    top: 50.75%;
    width: 45px;
    right: 0;
    background: #ececec !important;
    transform: rotate(-30deg);
    height: 2px;
  }
  .pc_hamburger.active span:nth-child(2) {
    top: 47%;
    width: 45px;
    right: 0;
    background: #ececec !important;
    transform: rotate(30deg);
    height: 2px;
  }
  .pc_globalMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: #3f4c59;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    transition: 0.3s;
    overflow: scroll;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  }
  .pc_globalMenu.active {
    opacity: 100;
    visibility: visible;
  }
  .pc_globalMenu::-webkit-scrollbar {
    display: none;
  }
  .pcgm_content {
    display: flex;
    gap: 2.5vw;
    padding: 2.5vw;
    border-top: solid 2px #576675;
  }
  .pcgm_flex {
    flex: 2;
    margin-top: 0;
  }
  .pcgm_flex.img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: sticky;
  }
  .pcgm_flex.img img {
    height: calc(100dvh - 102.5px - 2.5vw - 2.5vw);
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px 50px 0 50px;
    top: 0;
  }
  .pcgm_flex.right {
    position: relative;
    flex: 1.5;
  }
  .pcgm_button {
    display: block;
    color: #ececec;
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
  }
  .pcgm_button span {
    display: block;
    margin-top: 0.75rem;
    font-size: 0.8rem;
    line-height: 0.9rem;
    letter-spacing: 0.05rem;
    color: #afafaf;
  }
  .pcgm_button:hover {
    color: #576675;
  }
  .pcgm_button.small {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }
  .pcgm_button.small span {
    font-size: 0.6rem;
    line-height: 0.6rem;
    margin-top: 0.5rem;
  }
  .pcgm_button:visited {
    color: #ececec;
  }
  .pcgm_button:visited:hover {
    color: #576675;
  }
  .pcgm_button .pcgm_2nd_button {
    padding-left: 3vw;
    margin-left: 1vw;
    margin-top: 1rem;
    position: relative;
  }
  .pcgm_button .pcgm_2nd_button::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    display: inline-block;
    width: 2vw;
    background: #576675;
    height: 2px;
  }
  .pcgm_line {
    background: #576675;
    height: 2px;
    width: 100%;
    margin: 1.5rem 0;
  }
  .pcgm_line.padding_top {
    margin-top: 1.5rem;
  }
  .social_media_container a {
    line-height: 0rem;
  }
  .social_media_container i {
    background: #576675;
    padding: 0.7rem;
    color: #ececec;
    border-radius: 50%;
    margin-right: 1rem;
  }
  .pcgm_sns {
    color: #ececec;
    margin: 1rem 0;
    letter-spacing: 0.125rem;
    font-weight: 500;
    font-size: 1rem;
  }
  .pcgm_copy {
    color: #ececec;
    position: fixed;
    bottom: 1.5vw;
    right: 3vw;
    letter-spacing: 0.125rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 959px) {
  .pc_globalMenu {
    display: none;
  }
  header {
    position: fixed;
    height: 50px;
    line-height: 50px;
    width: 97%;
    top: 0;
    padding-left: 5%;
    z-index: 1000;
  }
  header .header_logo {
    line-height: 50px;
    font-size: 1.2rem;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    color: #232323;
  }
  header .header_logo span {
    font-size: 0.8rem;
    margin-left: 0.75rem;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #8b8b8b;
  }
  header .header_list {
    display: none;
  }
  header .nav-list-sp a, header .nav-list-item-sp, header .header1 a {
    color: #232323;
  }
  /* ■■■■■■■■■■■■■■■■■ ハンバーガー ■■■■■■■■■■■■■■■■■ */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    transform: scaleY(0.5) translateY(2px);
    left: 6px;
    background: #232323;
    transition: 0.2s;
  }
  .hamburger span:nth-child(1) {
    top: 19.5px;
    right: 8.5px;
    width: 25px;
  }
  .hamburger span:nth-child(2) {
    top: 26.5px;
    right: 0;
    width: 30%;
  }
  .hamburger.active span:nth-child(1) {
    top: 25px;
    width: 25px;
    left: 7.6px;
    background: #232323;
    transform: rotate(-45deg);
    height: 2px;
  }
  .hamburger.active span:nth-child(2) {
    top: 25px;
    right: 7.6px;
    width: 25px;
    background: #232323;
    transform: rotate(45deg);
    height: 2px;
  }
  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(3 0px);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    margin-top: 50px;
    padding-top: 7%;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 5rem;
    height: calc(100dvh - 50px);
    overflow: auto;
    border-radius: 25px 25px 0 0;
  }
  nav.globalMenuSp.active {
    opacity: 100;
    display: block;
    pointer-events: auto;
  }
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp .sp-menu-bottom {
    position: absolute;
    bottom: 10vw;
    left: 10vw;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    letter-spacing: 0.07rem;
    font-size: 0.7rem;
  }
  nav.globalMenuSp .sp-menu-bottom a {
    display: block;
    line-height: 2rem;
    font-weight: 500;
    color: #232323;
    font-size: 0.9rem;
  }
  nav.globalMenuSp .sp-menu-bottom a:visited {
    color: #232323;
  }
}
.mgm_wrapper {
  margin: 10px 7vw;
  position: relative;
  padding: 3vw;
}
.mgm_wrapper p {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.13rem;
  font-size: 1.3rem;
  line-height: 1.4rem;
}
.mgm_wrapper p span {
  display: block;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  line-height: 0.75rem;
  margin-top: 8px;
}
.mgm_wrapper p span span {
  margin-right: 7px;
  display: inline;
}
.mgm_wrapper i {
  position: absolute;
  right: 3vw;
  top: 50%;
  transform: translateY(-50%);
}
.mgm_wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sp-menu-line {
  width: calc(100% - 14vw);
  margin: 0 7vw;
  height: 2px;
  background: #4d4d4d;
}

.sp-menu-sns {
  margin: 10% 7vw 0;
  padding: 0 3vw;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1rem;
  font-size: 1.2rem;
}
.sp-menu-sns a {
  line-height: 0px;
  margin-left: 3vw;
  color: #000;
}
.sp-menu-sns a:visited {
  color: #000;
}
.sp-menu-sns i.fa-brands {
  font-size: 1.3rem;
}
.sp-menu-sns .discord-caption {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.3rem;
  padding: 15px;
  background: #ddd;
  border-radius: 20px 20px 0 20px;
  margin-top: 1rem;
  opacity: 0;
  transition: 0.2s;
}
.sp-menu-sns .discord-caption span {
  background: #5567E3;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 0.075rem;
}

.discord-caption.active {
  opacity: 100;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■  footer  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
@media (max-width: 959px) {
  footer {
    margin: 3rem 5% 1rem 5%;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
  }
  .f-copy {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .f-sns {
    display: none;
  }
  .f-sns a {
    transition: 0.2s;
    border-radius: 50%;
    padding-right: 4%;
    color: #232323;
  }
}
@media (min-width: 960px) {
  footer {
    position: relative;
    margin: 1rem 6%;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
  }
  .f-copy {
    flex: 90;
    margin-bottom: -1.5rem;
    letter-spacing: 0.075rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .f-item {
    font-size: 0.9rem;
    margin-right: 1rem;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    transform: translateY(-50%);
    padding-bottom: 0.25rem;
    color: #000;
    text-decoration: none;
  }
  .f-item:visited {
    color: #000;
  }
  .f-item:hover {
    color: #3f4c59;
    border-bottom: solid 2px #3f4c59;
  }
  .f-sns {
    padding-left: 1rem;
    text-align: right;
  }
  .f-sns .fa-brands {
    padding: 0.6rem 0.65rem 0.375rem 0.6rem;
    padding-bottom: 0.375rem;
    color: #232323;
  }
}
.f-sns .fa-brands:hover {
  color: #3f4c59;
  border-bottom: solid 2px #3f4c59;
}
.f-sns a:visited {
  color: #232323;
}/*# sourceMappingURL=common_style.css.map */