@charset "UTF-8";
:root {
  --text_color:#232323;
  --wrapper_bg_color:#ececec;
  --accent_color:#3f4c59;
  --accent_color2:#3f4c59;
  --index_bg_color:rgba(230, 230, 230, 0.68);
  --weak_bg_color:#ddd;
  --bg_color:#fff;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #3a3a3a;
    color: #ececec;
  }
  :root {
    --text_color:#ececec;
    --wrapper_bg_color:#545454;
    --accent_color:#e8aa14;
    --index_bg_color:rgba(84, 84, 84, 0.678);
    --weak_bg_color:#898989;
    --bg_color:#3a3a3a;
  }
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ ヘッダー ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
header {
  position: fixed;
  width: 95vw;
  top: 0px;
  padding: 0 2.5vw 0;
  z-index: 999;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  /*■■■　スマホ用ヘッダー　■■■*/
}
header a {
  text-decoration: none;
  line-height: 100px;
  position: relative;
}
header .header_logo {
  font-size: 1.4rem;
  letter-spacing: 0.13rem;
  font-weight: 600;
  color: var(--text_color);
  position: relative;
  z-index: 4;
}
header .header_logo span {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  font-weight: 500;
  color: #8b8b8b;
  letter-spacing: 0.08rem;
}
header .header_logo.white {
  color: #ececec !important;
  z-index: 5;
  margin-left: 2.5vw;
}
header .header_logo.white span {
  color: #ececec !important;
}
header .header_list {
  margin-top: -100.5px;
  margin-right: calc(1.5vw + 50px);
  text-align: right;
  color: var(--text_color);
}
header .header_list li {
  list-style: none;
  font-weight: 600;
  font-weight: 0;
  letter-spacing: 0.13rem;
  display: inline-block;
  position: relative;
  z-index: 4;
  margin-right: 1%;
}
header .header_list li a {
  padding: 26px 0.5rem 25px 0.5rem;
  color: var(--text_color);
}
header .header_list li a::before {
  content: "●";
  display: block;
  color: rgba(255, 255, 255, 0);
  font-size: 0.7rem;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  transition: 0.2s;
}
header .header_list li a:hover::before {
  color: var(--accent_color);
}
@media (max-width: 959px) {
  header {
    background: var(--bg_color);
    height: 50px;
    line-height: 50px;
    width: 97%;
    top: 0;
    padding-left: 5%;
    z-index: 1000;
  }
  header .header_logo {
    line-height: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text_color);
  }
  header .header_logo span {
    font-size: 0.8rem;
    margin-left: 0.75rem;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #8b8b8b;
  }
  header .header_list {
    display: none;
  }
  header .nav-list-sp a, header .nav-list-item-sp, header .header1 a {
    color: var(--text_color);
  }
}

@media (min-width: 960px) {
  .globalMenuSp, .hamburger {
    display: none;
  }
  .pc_hamburger {
    display: block;
    position: fixed;
    z-index: 6;
    right: 2.5vw;
    top: 0px;
    width: 50px;
    height: 100px;
    cursor: pointer;
    text-align: center;
  }
  .pc_hamburger span {
    display: block;
    position: absolute;
    width: 45px;
    height: 4px;
    transform: scaleY(0.5) translateY(2px);
    background: var(--text_color);
    transition: 0.2s ease-in-out;
  }
  .pc_hamburger span:nth-child(1) {
    top: 45px;
    right: 0px;
    width: 45px;
  }
  .pc_hamburger span:nth-child(2) {
    bottom: 41px;
    right: 0px;
    width: 45px;
  }
  .pc_hamburger.active span:nth-child(1) {
    top: 50.75%;
    width: 45px;
    right: 0;
    background: #ececec !important;
    transform: rotate(-30deg);
    height: 2px;
  }
  .pc_hamburger.active span:nth-child(2) {
    top: 47%;
    width: 45px;
    right: 0;
    background: #ececec !important;
    transform: rotate(30deg);
    height: 2px;
  }
  .pc_globalMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: #3f4c59;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    transition: 0.2s;
    overflow: scroll;
  }
  .pc_globalMenu.active {
    opacity: 100;
    visibility: visible;
  }
  .pc_globalMenu::-webkit-scrollbar {
    display: none;
  }
  .pcgm_content {
    display: flex;
    gap: 2.5vw;
    padding: 2.5vw;
    border-top: solid 2px #576675;
  }
  .pcgm_flex {
    flex: 2;
    margin-top: 0;
  }
  .pcgm_flex.img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: sticky;
  }
  .pcgm_flex.img img {
    height: calc(100dvh - 102.5px - 2.5vw - 2.5vw);
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px 50px 0 50px;
    top: 0;
  }
  .pcgm_flex.right {
    position: relative;
    flex: 1.5;
  }
  .pcgm_button {
    display: block;
    color: #ececec;
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
  }
  .pcgm_button span {
    display: block;
    margin-top: 0.75rem;
    font-size: 0.8rem;
    line-height: 0.9rem;
    letter-spacing: 0.05rem;
    color: #afafaf;
  }
  .pcgm_button:hover {
    color: #576675 !important;
  }
  .pcgm_button.small {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }
  .pcgm_button.small span {
    font-size: 0.6rem;
    line-height: 0.6rem;
    margin-top: 0.5rem;
  }
  .pcgm_button:visited {
    color: #ececec;
  }
  .pcgm_button:visited:hover {
    color: #576675;
  }
  .pcgm_button .pcgm_2nd_button {
    padding-left: 3vw;
    margin-left: 1vw;
    margin-top: 1rem;
    position: relative;
  }
  .pcgm_button .pcgm_2nd_button::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    display: inline-block;
    width: 2vw;
    background: #576675;
    height: 2px;
  }
  .pcgm_line {
    background: #576675;
    height: 2px;
    width: 100%;
    margin: 1.5rem 0;
  }
  .pcgm_line.padding_top {
    margin-top: 1.5rem;
  }
  .social_media_container a {
    line-height: 0rem;
  }
  .social_media_container i {
    background: #576675;
    padding: 0.7rem;
    color: #ececec;
    border-radius: 50%;
    margin-right: 1rem;
  }
  .pcgm_sns {
    color: #ececec;
    margin: 1rem 0;
    letter-spacing: 0.125rem;
    font-weight: 500;
    font-size: 1rem;
  }
  .pcgm_copy {
    color: #ececec;
    position: fixed;
    bottom: 1.5vw;
    right: 3vw;
    letter-spacing: 0.125rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 959px) {
  .pc_globalMenu {
    display: none;
  }
  /* ■■■■■■■■■■■■■■■■■ ハンバーガー ■■■■■■■■■■■■■■■■■ */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    transform: scaleY(0.5) translateY(2px);
    left: 6px;
    background: var(--text_color);
    transition: 0.2s;
  }
  .hamburger span:nth-child(1) {
    top: 19.5px;
    right: 8.5px;
    width: 25px;
  }
  .hamburger span:nth-child(2) {
    top: 26.5px;
    right: 0;
    width: 30%;
  }
  .hamburger.active span:nth-child(1) {
    top: 25px;
    width: 25px;
    left: 7.6px;
    background: var(--text_color);
    transform: rotate(-45deg);
    height: 2px;
  }
  .hamburger.active span:nth-child(2) {
    top: 25px;
    right: 7.6px;
    width: 25px;
    background: var(--text_color);
    transform: rotate(45deg);
    height: 2px;
  }
  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(3 0px);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    margin-top: 50px;
    padding-top: 7%;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 5rem;
    height: calc(100dvh - 50px);
    overflow: auto;
    border-radius: 25px 25px 0 0;
  }
  nav.globalMenuSp.active {
    opacity: 100;
    display: block;
    pointer-events: auto;
  }
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp .sp-menu-bottom {
    position: absolute;
    bottom: 10vw;
    left: 10vw;
    letter-spacing: 0.07rem;
    font-size: 0.7rem;
  }
  nav.globalMenuSp .sp-menu-bottom a {
    display: block;
    line-height: 2rem;
    font-weight: 500;
    color: var(--text_color);
    font-size: 0.9rem;
  }
  nav.globalMenuSp .sp-menu-bottom a:visited {
    color: var(--text_color);
  }
}
.mgm_wrapper {
  margin: 10px 7vw;
  position: relative;
  padding: 3vw;
}
.mgm_wrapper p {
  letter-spacing: 0.13rem;
  font-size: 1.3rem;
  line-height: 1.4rem;
}
.mgm_wrapper p span {
  display: block;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  line-height: 0.75rem;
  margin-top: 8px;
}
.mgm_wrapper p span span {
  margin-right: 7px;
  display: inline;
}
.mgm_wrapper i {
  position: absolute;
  right: 3vw;
  top: 50%;
  transform: translateY(-50%);
}
.mgm_wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sp-menu-line {
  width: calc(100% - 14vw);
  margin: 0 7vw;
  height: 2px;
  background: #4d4d4d;
}

.sp-menu-sns {
  margin: 10% 7vw 0;
  padding: 0 3vw;
  letter-spacing: 0.1rem;
  line-height: 1rem;
  font-size: 1.2rem;
}
.sp-menu-sns a {
  line-height: 0px;
  margin-left: 3vw;
  color: var(--text_color);
}
.sp-menu-sns a:visited {
  color: var(--text_color);
}
.sp-menu-sns i.fa-brands {
  font-size: 1.3rem;
}
.sp-menu-sns .discord-caption {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.3rem;
  padding: 15px;
  background: #ddd;
  border-radius: 20px 20px 0 20px;
  margin-top: 1rem;
  opacity: 0;
  transition: 0.2s;
}
.sp-menu-sns .discord-caption span {
  background: #5567E3;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 0.075rem;
}

.discord-caption.active {
  opacity: 100;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■  footer  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
@media (max-width: 959px) {
  footer {
    padding: 2.5rem 5% 5vw 5%;
    margin-top: 10vw;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    position: relative;
  }
  .f-copy {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .f-sns {
    position: absolute;
    top: 0px;
    width: 70%;
  }
  .f-sns a {
    transition: 0.2s;
    border-radius: 50%;
    padding: 1rem 1rem 1rem 0;
    color: var(--text_color);
    text-decoration: none;
  }
}
@media (min-width: 960px) {
  footer {
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    max-width: 1440px;
    margin: 7.5vw auto 2.5vw;
    padding: 0 5vw;
    position: relative;
  }
  footer a {
    text-decoration: none;
    position: relative;
    margin: 0 0 0 1.5rem;
    padding: 1rem 0;
  }
  footer a .fa-brands {
    padding: 0.75rem 0;
    transition: 0.2s;
    color: var(--text_color);
    font-size: 0.9rem !important;
  }
  footer a::before {
    content: "●";
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.4rem;
    color: rgba(255, 255, 255, 0);
    transition: 0.2s;
  }
  footer a:hover::before {
    color: var(--accent_color);
  }
  footer a:visited {
    color: var(--text_color);
  }
  footer .f-copy {
    flex: 90;
    font-size: 0.9rem;
    letter-spacing: 0.075rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  footer .f-item {
    font-size: 0.9rem;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    line-height: 0.9rem;
    letter-spacing: 0.075rem;
    color: var(--text_color);
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  footer .f-item::before {
    content: "●";
    display: block;
    position: absolute;
    top: -7.5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.4rem;
    color: rgba(255, 255, 255, 0);
    transition: 0.2s;
  }
  footer .f-item:hover::before {
    color: var(--accent_color);
  }
  footer .f-item:visited {
    color: var(--text_color);
  }
  footer .f-sns {
    text-align: right;
  }
}
* {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  max-width: 1920px;
}

img {
  vertical-align: top;
}

main {
  max-width: 1440px;
  padding: 0 5%;
}

.page_point {
  margin-top: 103px;
  font-size: 0.85rem;
}
@media (max-width: 959px) {
  .page_point {
    margin-top: 52.5px;
    font-size: 0.65rem;
  }
}
.page_point a {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  color: #777;
  font-weight: 500;
}
.page_point a:hover {
  color: var(--accent_color);
}
.page_point a:visited {
  color: #777;
}
.page_point a:visited:hover {
  color: var(--accent_color);
}
.page_point i {
  padding: 0 0.5rem;
  color: #777777;
}

.page_head {
  max-width: 1440px;
  margin: 1rem 0 1.5rem;
  border-radius: 20px;
  position: relative;
}
.page_head .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: var(--wrapper_bg_color);
  border-radius: 20px 0px 0 20px;
}
.page_head .background.error_404 {
  width: 100%;
  border-radius: 20px 20px 0 20px;
}
@media (max-width: 959px) {
  .page_head .background {
    width: 30%;
  }
}
.page_head .title {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  position: absolute;
  line-height: 2.5rem;
  left: 3vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  font-size: 2.5rem;
  letter-spacing: 0.12rem;
  color: var(--text_color);
  font-weight: 400;
}
.page_head .title span {
  display: block;
  font-size: 0.8rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05rem;
}
@media (max-width: 959px) {
  .page_head .title {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .page_head .title span {
    font-size: 0.6rem;
  }
}
.page_head .info_img {
  width: 100%;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 25px;
  position: relative;
}
@media (max-width: 959px) {
  .page_head .info_img {
    height: 25vh;
  }
}
.page_head .info_img.error_404 {
  height: 20vh;
}
.page_head .img_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 25px 25px 0 25px;
}

h3 {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h4 {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.35rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-left: 0.65rem;
  border-left: solid var(--accent_color) 5px;
}

p {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.03rem;
  line-height: 2rem;
}
p a {
  color: var(--accent_color);
}
p a:visited {
  color: var(--accent_color);
}
p.weak {
  color: var(--weak_bg_color);
}

.b {
  margin-top: 1rem;
}

.line {
  height: 2px;
  width: 100%;
  background: var(--weak_bg_color);
  margin: 4rem 0 2rem;
}/*# sourceMappingURL=style.css.map */